!!!
%html
  %body
    .notification
    .wrapper
    = render partical: "groups/index"
      .chat
        .header
          .left-header
            .left-header__title
              SEM
            %ul.left-header__members
              Members :
              %li.member
                \: minami
          .right-header
            = link_to "Edit", "path", class: "right-header__button"
        .messages.js-messages
          = render partial: "messages"
        .form
        = form_for [@group, @message] do |f|
          = f.text_field :content, class: "form_message", placeholder: "type a message"
            .form__mask
              = f.label :image, "form__mask__image" do
                = fa_icon "picture-o", class: "icon"
                  = f.file_field :image, class: "hidden"
                = f.submit "Send", class: "form__submit"
