!!!
%html
  %body
    .notification
        .messages.js-messages
          = render partial: "messages"
        .form
        = form_for [@group, @message] do |f|
          = f.text_field :content, class: "form_message", placeholder: "type a message"
            .form__mask
              = f.label :image, "form__mask__image" do
                = fa_icon "picture-o", class: "icon"
                  = f.file_field :image, class: "hidden"
                = f.submit "Send", class: "form__submit"
